<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flow bite.min.js"></script>
    <title>Email from CardStream</title>
</head>
<body style="margin: 0; padding: 0; display: flex; justify-content: center; font-family: sans-serif; background-color: #f9fafb;">
<div>
    <div style="margin: 20px 0;max-width: 24rem; background-color: #ffffff; border: 1px solid #9ca3af; border-radius: 2.5rem; box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); overflow: hidden;">

        <a href="#" style="text-decoration: none;">
            <p style="background-color: #c7d2fe; padding: 2rem; text-align: center; font-size: 3rem; font-weight: 800; line-height: 1; color: #111827; margin: 0;">
                CardStream
            </p>
        </a>

        <div style="padding: 2rem 2rem 2.5rem;text-align: left; color: #4b5563;box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1)">
            <p style="margin-bottom: 0.5rem; font-size: 1.5rem; font-weight: 700; color: #111827;">
                Hello <%= fullName %>! 👋
            </p>
            <p style="margin: 0 0 0.5rem;">This is an automated email, sent to keep you updated! 📧 </p>
            <p style="margin: 0 0 1rem;">Here's what you need to know:</p>

            <h5 style="margin: 0.5rem 0; font-size: 1.5rem; font-weight: 700; color: #111827;">
                <%- message.replaceAll(/\n/g, "<br>") %>
            </h5>

            <p style="margin-bottom: 2rem; font-size: 1rem; color: #374151;">
                <%- postDescription %>
            </p>

            <a href="<%= link %>" target="_blank"
               style="display: inline-block; color: #fff; background: linear-gradient(to right, #3b82f6, #2563eb, #1d4ed8); padding: 0.625rem 1.25rem; font-size: 0.875rem; font-weight: 500; text-align: center; text-decoration: none; border-radius: 0.5rem; box-shadow: 0 4px 6px rgba(59, 130, 246, 0.5); margin-bottom: 2rem;">
                <%= linkText %>
            </a>

            <p style="margin-top: 2rem;">Thank you so much for being with us!</p>
            <p>Have an amazing day ahead! 🌟</p>
        </div>

        <div style="padding: 1rem 2rem 2rem;border-top: 1px solid #e5e7eb; color: #9ca3af; text-align: left;background-color: #efefef">
            <p style="margin: 0;">CardStream - Digital business cards</p>
            <div style="margin-top: 0.5rem;">
                &copy;<%= new Date().getFullYear() %> All rights Reserved
            </div>
        </div>
    </div>
</div>
</body>

</html>